/infer-out
gradle.properties
*.iml
.gradle
/local.properties
.idea
.DS_Store
build
/captures
*.asc
projectFilesBackup
release
app/src/androidTest/
jiaozivideoplayer/src/test/
jiaozivideoplayer/src/androidTest/
gradle/wrapper/
app/src/test/
gradlew
gradlew.bat
